@import 'tailwindcss';
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit;
  transition: background-color 5000s ease-in-out 0s;
}
@layer base {
  * {
    @apply transition-colors duration-200;
  }
  input:-webkit-autofill {
    -webkit-text-fill-color: #0f172a !important;
  }
  .dark input:-webkit-autofill {
    -webkit-text-fill-color: #f8fafc !important;
  }

  body {
    @apply antialiased scroll-smooth;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-200 dark:bg-slate-800 rounded-full hover:bg-slate-300 dark:hover:bg-slate-700 transition-colors;
  }

  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.slate.200') transparent;
  }

  .dark * {
    scrollbar-color: theme('colors.slate.800') transparent;
  }
}